@import "../../styles/variables.scss";
.NoteEditor {
  min-height: 100vh;
  height: fit-content;
  background-color: rgb(243, 254, 255);

  h1 {
    color: $black-olive;
    text-align: center;
  }

  .container {
    padding-bottom: 5rem;
  }
  .title {
    color: black;
    line-height: 3rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 5px;
    background-color: $white;
    width: fit-content;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .paragraph {
    outline: none;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.0) 0px 2px 5px;
  }

  p {
    width: 100%;
  }
  .manuallink {
    height: 2.5rem;
    width: 2.5rem;
  }

  .viewerpara {
    display: flex;
    justify-content: left;
    text-align: left;
    font-family: 1.25rem;
    border-radius: 10px;
    background-color: $white;
    margin-bottom: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.0) 0px 2px 5px;
    border-radius: 10px;
    padding: 1em;
  }

  textarea {
    padding: 1rem;
    font-size: 1.25rem;
    text-align: left;
    box-sizing: border-box;
    resize: none;
    outline-width: 1px;
    outline-color: rgb(209, 209, 209) !important;
    width: 100%;
    margin-bottom: 2px;
    border-radius: 10px;
  }
  .grid {
    border-width: 4px;
    border-color: black;
    margin-left: 0;
  }
}
