@import "../../styles/variables.scss";

.Header {
  background-color: $white;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  &__navigationBar {
    display: flex;
    gap: 30px;
    font-size: 20px; // change later
    margin: 0 auto;
    padding: 10px 0;

    &__item {
      color: $black;
      transition: 300ms;
      &:hover {
        font-weight: 700;
        color: $brunswick-green;
      }

      &--active {
        font-weight: 700;
        color: $brunswick-green;
      }
    }
  }
}
