@import "../../styles/variables.scss";

.Header {
  &__navigationBar {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 20px; // change later
    margin: 0 auto;
    padding: 10px 0;
    background-color: $primary;
    // border-bottom: 1px solid $black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    &__item {
      color: $black;
      transition: 300ms;
      &:hover {
        font-weight: 700;
        color: $brunswick-green;
      }

      &--active {
        font-weight: 700;
        color: $brunswick-green;
      }
    }
  }
}
