@import "./breakpoints.scss";
@import "./variables.scss";
.Home {
  height: calc(100vh - 87px); // change

  background-image: url("../assets/temporaryBackground.png");
  &__container {
    margin: 0 auto;
    padding-top: 3rem;
    width: 70%;
    display: grid;
    grid-template-columns: 1fr;
    position: relative;

    @include breakpoint(desktopSmall) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__right {
    padding: 2rem 1rem 3rem 3rem;
    background-color: rgba(174, 246, 199, 70%); // $celadon + opacity
    backdrop-filter: blur(1px);
    margin-top: 30px;
    @include breakpoint(desktopSmall) {
      margin-top: 0;
    }
    &__title {
      color: black;
    }
  }

  &__auth {
    height: calc(100vh - 87px);
    background: radial-gradient(
      120% 100% at 50% 10%,
      transparent 37%,
      $celadon 60%,
      $dartmouth-green 100%
    );
    font-size: 3em;
    gap: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto 0;
  }
}
