// Colors from https://coolors.co/212922-294936-01650e-5b8266-aef6c7

$black-olive: #212922;
$brunswick-green: #294936;
$dartmouth-green: #01650E;
$viridian: #5B8266;
$celadon: #AEF6C7;

$white: #fff;


// Blue Scheme
// $primary: #1E91D6;
$primary: #40a9ea;
$secondary: #40a9ea3e; 
$tertiary: #40a9eacf;
$dark: #0B132B;
